<!DOCTYPE html>
<html>
<head>
<title>Cognitive Bank</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<link rel='stylesheet' href='/public/app.css' />
<script src="/public/jquery-1.11.2.min.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="layout">
		<%- body %>
		<div id="layout-footer"></div>
	</div>
</body>
</html>
