<!DOCTYPE html>
<html>
<head>
<title>ML Demo</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel='stylesheet' href='/public/app.css' />
<script src="/public/jquery-1.11.2.min.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="layout">
		<%- body %>
		<div id="layout-footer"></div>
	</div>
</body>
</html>
